<ion-view class="New Order">

  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="product in products" ng-click="selectProduct(product)">
        <img ng-src="{{product.img || './img/product_blank'}}">

        <h2>{{product.name | capitalize}} {{product.size | capitalize}}</h2>

        <p>Rs. {{product.price}}</p>
      </a>


    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="pushOrder()" class="button button-positive button-block">Order Now</button>
  </div>
</ion-view>
